# Dataset — too large for git,
data/defactify_filtered/

# HuggingFace's download cache
.cache/huggingface/

# Model weights — too large for git
checkpoints/*.pt
checkpoints/*.pth
Scripts/ViT/checkpoints/*.pt

# HF Token
.env

# Jupyter clutter
.ipynb_checkpoints/

# Python clutter
__pycache__/
*.pyc

# VS Code
.vscode/
